<!-- Contact -->
<section>
    <div class="inner">


        <div class="row" style="display: flex; justify-content: space-between;">

            <div class="col-4 col-12-medium">
                <div class="contact-method">
                    <span class="icon alt fa-home"></span>
                    <h3>Location</h3>
                    <span>
                        Boston
                    </span>
                </div>
            </div>
            <div class="col-4 col-12-medium">
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>Email</h3>
                    guillonapa at gmail dot com
                </div>
            </div>
            <div class="col-4 col-12-medium">
                <div class="contact-method">
                    <span class="icon alt fa-phone"></span>
                    <h3>Phone</h3>
                    <span>949.285.2892</span>
                </div>
            </div>
        </div>
    </div>
</section>