<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <div>
                <ul class="copyright">
                    <li>&copy; Guillermo Narvaez 2016-2019</li>
                </ul>
            </div>
            <div>
                <ul class="icons">
                    <!-- <li><a href="https://twitter.com/guillonapa_" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="https://www.facebook.com/guillo.napa" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="https://www.instagram.com/guillonapa/?hl=en" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li> -->
                    <li><a href="https://github.com/guillonapa" class="icon alt fa-github"><span
                                class="label">GitHub</span></a></li>
                    <li><a href="https://www.linkedin.com/in/g-narvaez" class="icon alt fa-linkedin"><span
                                class="label">LinkedIn</span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>