@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

.unsupported {
    font-family: 'Source Sans Pro';
}

.unsupported-img {
    width: 80%;
}

.contact-row {
    display: flex;
    flex-wrap: wrap;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

@media only screen and (min-width: 600px) {
    .unsupported-img {
        width: 25%;
    }

    .contact-row {
        display: flex;
        justify-content: space-between;
    }
}
